name: Continuous Integration
on:
  pull_request:
    branches:
      - main
      - develop
      - trunk
      - dev
      - stage
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        name: Descargando repo
      - name: Instalar Java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '17'
      - uses: gradle/gradle-build-action@v3
        name: Instalando gradle
      - name: Compilando ando
        run: ./gradlew build